{% extends 'base.html' %}
{% load static %}
{% block titulo %}
    Meu Ecommerce 2024 - Produto
{% endblock %}
{% block conteudo %}
        <article>
        <a href="{% url 'listartodosprodutos' %}" class="outline" role="button">Todos</a>
        {% for categoria in categorias %}
            <a href="{% url 'listarprodutos' categoria.slug %}" class="outline" role="button">{{ categoria.nome }}</a>
        {% empty %}
        	<p>Não existe produtos :(</p>
        {% endfor %}
    </article>
    <article>
    <table>
    <thead>
        <tr>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
            <tr>
            <td>
            {% if produto.imagem %}
                <img src="{{ produto.imagem.url }}" alt="Imagem de {{ produto.nome }}" style="height: 120px">
            {% else %}
                <img src="{% static 'sem_img.png' %}" alt="Imagem faltando" style="height: 120px">
            {% endif %}
            </td>
            <td><a href="{% url 'detalharproduto' produto.slug %}">{{ produto.nome }}</a></td>
            <td>R$ {{ produto.preco }}</td>
            </tr>
        {% empty %}
            <p>Não tem produtos ainda...</p>
        {% endfor %}
    </tbody>
    </table>
    </article>
{% endblock %}