{% extends 'base.html' %}
{% load static %}
{% block titulo %}
    Fim
{% endblock %}
{% block conteudo %}
    <article>
        <h1>Obrigado por comprar conosco</h1>
        <table>
            <thead>
            <tr>
                <th>Imagem</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço Unitário</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pedido.itens_pedido.all %}
                {% with item.produto as prod %}
                    <tr>
                        <td>
                            <a href="{% url 'detalheproduto' prod.slug %}">
                                <img src="{% if prod.imagem %}
                                    	{{ prod.imagem.url }}
                                    {% else %}
                                    	{% static 'sem_img.png' %}
                                    {% endif %}" alt="Imagem do produto {{ prod.nome }}" width="90" height="100">
                            </a>
                        </td>
                        <td>
                            {{ prod.nome }}
                        </td>
                        <td>
                            {{ item.quantidade }}
                        </td>
                        <td>
                            R$ {{ item.preco }}
                        </td>
                        <td>
                            R$ {{ item.get_custo }}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">Total Geral</td>
                <td colspan="1">R$ {{ carrinho.get_total }}</td>
            </tr>
            </tfoot>
        </table>
        <a href="{% url 'listartodosprodutos' %}" role="button">Continuar comprando</a>
        {% if not pedido.pago %}
            <form method="post" action="{% url 'pagarpedido' pedido.pk %}">
                {% csrf_token %}
                <button class="secondary" type="submit">Efetuar pagamento</button>
            </form>
        {% else %}
            <p>Pedido pago</p>
        {% endif %}
    </article>
{% endblock %}